- set_fact:
    arch: "amd64"
    when: ansible_architecture == "x86_64"

- set_fact:
    arch: "arm64"
    when: ansible_architecture == "aarch64"

- apt: name={{ item }} state=present
  with_items:
    - silversearcher-ag
    - emacs
    - unzip
  become: true

- set_fact:
    from_url:
      - url: "https://github.com/peco/peco/releases/download/v0.5.8/peco_linux_{{ arch }}.tar.gz"
        src: "peco_linux_{{ arch }}/peco"
        bin: peco
      # - url: https://github.com/github/hub/releases/download/v2.3.0-pre10/hub-linux-amd64-2.3.0-pre10.tgz
      #   src: hub-linux-amd64-2.3.0-pre10/bin/hub
      #   bin: hub
      # - url: https://github.com/tidwall/jd/releases/download/0.3.1/jd-0.3.1-linux-amd64.tar.gz
      #   src: jd-0.3.1-linux-amd64/jd
      #   bin: jd
      - url: "https://github.com/direnv/direnv/releases/download/v2.24.0/direnv.linux-arm"
        src: "direnv.linux-arm"
        bin: direnv
        archived: false
      # - url: https://github.com/y13i/j2y/releases/download/v0.0.8/j2y-linux_amd64.zip
      #   src: j2y
      #   bin: j2y
      # - url: https://raw.githubusercontent.com/harelba/q/1.6.3/bin/q
      #   src: q
      #   bin: q
      #   archived: false
      # - url: https://github.com/sharkdp/fd/releases/download/v4.0.0/fd-v4.0.0-x86_64-linux.tar.gz
      #   src: fd-v4.0.0-x86_64-linux/fd
      #   bin: fd
      # - url: https://github.com/noborus/trdsql/releases/download/v0.4.1/trdsql_linux_amd64.zip
      #   src: trdsql_linux_amd64/trdsql
      #   bin: trdsql
      # - url: https://downloads.rclone.org/v1.44/rclone-v1.44-linux-amd64.zip
      #   src: rclone-v1.44-linux-amd64/rclone
      #   bin: rclone

- unarchive: src={{ item.url }} dest="{{ lookup('env','HOME') }}/usr/local" remote_src=yes
  when: (item.archived is undefined) or (item.archived)
  with_items: "{{ from_url }}"

- file: state=link src="{{ lookup('env','HOME') }}/usr/local/{{ item.src }}" dest="{{ lookup('env','HOME') }}/usr/local/bin/{{ item.bin }}"
  when: (item.archived is undefined) or (item.archived)
  with_items: "{{ from_url }}"

- get_url: url={{ item.url }} dest="{{ lookup('env','HOME') }}/usr/local/bin/{{ item.bin }}" mode=0755
  when: (item.archived is defined) and (not item.archived)
  with_items: "{{ from_url }}"
